<div>
    <mat-toolbar>
        <mat-toolbar-row>
            <a mat-icon-button class="icon" aria-label="icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </a>

            <a mat-button class="icon" routerLink="/products" aria-label="icon-button with menu icon">
                Photo Gallery
            </a>

            <a mat-button class="icon" routerLink="/cart" aria-label="icon-button with menu icon">
                Cart
            </a>

            <span class="nav-spacer"></span>

            <a mat-icon-button matTooltip="SingOut">
                <mat-icon>perm_identity</mat-icon>
            </a>
            <a mat-icon-button matTooltip="Share with Friends">
                <mat-icon>share</mat-icon>
            </a>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="text-center p-1"
        style="background-image: linear-gradient(90deg, #cfd6d2 0%, #9797d4 35%, #d2d9db 100%);">
        <h3 class="fs-3 fw-bold pt-3">Amazing Animal Paintings.!</h3>
        <h5 class="fs-5">Make your home a special place with our beautiful and unique artwork.</h5>
    </div>
</div>